<footer class="p-5" style="background-color: #E1CCBE;">
    <div class="row">
        <div class="col">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Services</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gallery</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Testimonials</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row justify-content-between py-4 my-4 border-top">
        <div class="col">
            <p>© 2021 Company, Inc. All rights reserved.</p>
        </div>
        <div class="col">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="ms-3"><a class="link-dark" href="#"><img src="/assets/images/insta.png" height="30px"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img src="/assets/images/insta.png" height="30px"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img src="/assets/images/insta.png" height="30px"></a></li>
            </ul>
        </div>
    </div>
</footer>