<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/globals.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    {{!-- masonry js --}}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <title>Moj Events</title>
</head>

<body>
    <div class="container-fluid" id="panel1">
        <span id="navbar"></span>
    </div>
    
    <div class="d-flex align-items-center justify-content-center mb-5" id="page-title">
        {{title}}
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center" id="masonry-gallery">
        {{#each media}}
            <div class="col-lg-4 mb-4 grid-item">
                <div class="rounded-2 shadow p-0 overflow-hidden">
                {{#if this.isImage}}
                    <img src="{{this.src}}" width="100%">
                {{else}}
                    <video class="galleryvideo" autoplay loop muted style="width: 100%">
                        <source src="{{this.src}}" type="video/mp4" />
                    </video>
                {{/if}}
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    
    <!-- footer -->
    <div class="container-fluid" id="panel3">
        <span id="footer"></span>
    </div>
</body>
</html>
<script>
    $('#navbar').load('/components/navbar')
    $('#footer').load('/components/footer')
    
    {{!-- masonry code to align the images in the gallery --}}
    var grid = $('#masonry-gallery').masonry({
        itemSelector: '.grid-item',
        percentPosition: true
    })

    grid.imagesLoaded().progress(() => grid.masonry('layout'))


    $('.galleryvideo').on('loadeddata', () => {
        grid.masonry('layout')
    })

</script>